<h1>BookLovers</h1>
<p>Browse our book suggestions and bookmark the books you like!</p>

<% @books.each do |book| %>
  <%= book.title %>
  <%= link_to "Book details", book_path(book) %>
<% end %>

<%= link_to "My bookmarks", user_bookmarks_path(@user) %>
