<div class="container">
  <h1>BookLovers</h1>
  <h3>Browse our book suggestions and bookmark the books you like!</h3>

  <% @books.each do |book| %>

    <div class="card-product">
      <%= image_tag("book_#{book.id}.jpg", size:"120x120", alt: book.title) %>
        <div class="card-content">
          <div class="element-1">
            <h3><%= book.title %></h3>
          </div>
          <div class="element-2">
            <% if user_signed_in? %>
              <%= link_to "Book details", book_path(book), class: "btn btn-flat" %>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>

  <div class="button-left">
    <% if user_signed_in? %>
      <%= link_to "My bookmarks", user_bookmarks_path(@user), class: "btn btn-flat" %>
    <% else %>
      <h3>Login to view more functionalities! </h3>
    <% end %>
  </div>

</div>
